<include file="Public:doctype"/>
<html xmlns="http://www.w3.org/1999/xhtml">
<taglib name="YcPower"/>
<head>
    <include file="Public:basicHead"/>
</head>

<body>

<include file="Public:bread"/>

<div class="rightinfo">

    <div class="tools">
        <ul class="toolbar">
            <YcPower:cp power="AdminAdd">
                <li class="click">
                    <a href="{:U('Admin/add')}">
                        <span><img src="__PUBLIC__/Admin/images/t01.png"/></span>添加</a>
                </li>
            </YcPower:cp>
            <YcPower:cp power="AdminDel">
                <li class="click">
                    <a href="javascript:delMut('{:U(" Admin/doDel")}')">
                    <span><img src="__PUBLIC__/Admin/images/t03.png"/></span>删除</a>
                </li>
            </YcPower:cp>
        </ul>

        <form action="{:U('Admin/index')}" method="get">
            <ul class="toolbar1">
                <li>关键词：
                    <input type="text" name="keyword" class="scinput" placeholder="请输入关键词" value="{$keyword}"/>
                </li>
                <li>
                    <input type="submit" class="scbtn button_primary" value="查询"/>
                </li>
            </ul>
        </form>

    </div>

    <table class="tablelist">
        <thead>
        <tr>
            <th width="60">
                <label class="">
                    <input type="checkbox" class="selectAll"/>全选
                </label>
            </th>
            <th width="" class="tl">管理员账号</th>
            <th width="160">角色</th>
            <th width="200">真实姓名</th>
            <th width="160">是否有效</th>
            <YcPower:cp power="AdminEdit,AdminPsw,AdminDel">
                <th width="160">操作</th>
            </YcPower:cp>
        </tr>
        </thead>
        <tbody>
        <foreach name="list" item="item" key="k">
            <tr><input class="id" type="hidden" name="aid" value="{$item.aid}"/>
                <td>
                    <input type="checkbox" value="{$item.aid}" class="del_checkbox"/>
                </td>
                <td class="tl">{$item.aname}</td>
                <td>{$item.ar_name}</td>
                <td class="yc_edit"><span class="null" name="realname">{$item.realname}</span></td>
                <td class="valid_show">
                    <foreach name="yesno" item="itemY">
                        <eq name="itemY.value" value="$item['valid']"><span name="valid">{$itemY.key}</span></eq>
                    </foreach>
                </td>
                <YcPower:cp power="AdminEdit,AdminPsw,AdminDel">
                    <td>
                        <YcPower:cp power="AdminEdit">
                            <a href="{:U('Admin/edit',array('aid'=>$item['aid']))}" class="tablelink">编辑</a> &nbsp;|&nbsp;
                        </YcPower:cp>
                        <YcPower:cp power="AdminPsw">
                            <a href="{:U('Admin/psw',array('aid'=>$item['aid']))}" class="tablelink">重置密码</a> &nbsp;|&nbsp;
                        </YcPower:cp>
                        <YcPower:cp power="AdminDel">
                            <a class="delBtn tablelink" href="{:U('Admin/doDel',array('ids'=>$item['aid']))}"
                               del_title="{$item.name}">删除</a>
                        </YcPower:cp>
                    </td>
                </YcPower:cp>
            </tr>
        </foreach>
        </tbody>
    </table>

    <div class="pagin">
        {$pages}
    </div>

</div>

<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>
<YcPower:cp power="AdminEdit">
    <script type="text/javascript">
        var yc_url = "{:U('AdminBase/quickEdit')}";
        var table = "admin";
    </script>
    <script src="__PUBLIC__/Admin/js/yc_edit.js"></script>
</YcPower:cp>
</body>

</html>

