<include file="Public:doctype" />
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>		
		<include file="Public:basicHead" />
	</head>
	<body>
		<include file="Public:bread" />
		<div class="p10">
			<form class="mainform" role="form" method="post" action="{:U('Admin/doPsw')}">
				<input type="hidden" name="aid" value="{$model.aid}" />
				<taglib name="Ycform" />
				<div class="     ">

					<div class="formtitle ">
						<span>管理员账户信息</span>
						<!--<div class="slideup">+</div>-->
						<div class="slideup slideup_sub" tabid="tabid1"></div>
					</div>
					<div class="tab mt10" id="tabid1">
						<table class="formtable ">
							<tbody>
								<tr>
									<td class="ft_title">管理员名称</td>
									<td>
										{$model.aname}
									</td>
								</tr>

								<Ycform:password title="密码" name="pwd" need="*" datatype="*6-18" tips="请填写密码" class="w200" ></Ycform:password>

								<Ycform:password title="确认密码" name="" need="*" datatype="*6-18" tips="请填写确认密码" class="w200"  recheck="pwd"></Ycform:password>

								<tr>
									<td></td>
									<td colspan="3">
										<input type="hidden" name="updatetime" value="{:time()}" />
										<input type="submit" value="保存" class="btn button_primary btnsave" status="0">
										<input type="button" value="返回" class="btn button_success btnsave" onclick="javascript:history.go(-1)" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="h10"></div>
				</div>
			</form>

			<!--导入validform-->
			<include file="Public:validformScript" />

		</div>

	</body>

</html>


