<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{$sysInfo.title}管理后台</title>
	<include file="Public:basicHead" />

	<script language="javascript">
		$(function() {
			$('.loginbox').css({
				'position': 'absolute',
				'left': ($(window).width() - 692) / 2
			});
			$(window).resize(function() {
				$('.loginbox').css({
					'position': 'absolute',
					'left': ($(window).width() - 692) / 2
				});
			})
		});
	</script>
</head>

<body style="background-color:#1c77ac; background-image:url(); background-repeat:no-repeat; background-position:center top; overflow:hidden;">

<div id="mainBody">
	<div id="cloud1" class="cloud"></div>
	<div id="cloud2" class="cloud"></div>
</div>

<div class="logintop">
	<span>{$sysInfo.title}管理后台</span>
</div>

<div class="loginbody">
	<div class="p20 fs30 white tc pb0">{$sysInfo.title}管理后台</div>

	<span class="systemlogo"></span>

	<div class="loginbox loginbox1">
		<form class="mainform" role="form" method="post" action="{:U('Index/doLogin')}">
			<ul>
				<li>
					<input name="name" type="text" class="loginuser" placeholder="请输入管理员账号" />
				</li>
				<li>
					<input name="pwd" type="password" class="loginpwd" placeholder="请输入密码" />
				</li>
				<li class="yzm">
					<span><input name="verify" type="text" placeholder="请输入验证码"/></span><cite>
					<img src="{:U('Index/verify')}" class="chk_code_img" style="cursor: pointer;height: 44px;width: 112px;position: relative;top:1px;left: 0px;"  onclick="changeVerify()" />
					<script>
						function changeVerify(){
							$(".chk_code_img").attr("src", "{:U('Index/verify')}");
						}
					</script>
				</cite>
				</li>
				<li>
					<input name="" type="submit" class="loginbtn" value="登录" />
				</li>
			</ul>
		</form>

		<!--导入validform-->
		<script>
			$(function() {
				$(".mainform").Validform({
					tiptype: 4,
					ignoreHidden: true,
					showAllError: true,
					ajaxPost: true,
					beforeSubmit: function(curform) {
						loading("正在提交");
					},
					callback: function(data) {
						if (data.status == 1) {
							msgOK(data.info);
						} else {
							msgFaild(data.info);
							changeVerify();
						}
						if (data.url) {
							loading(data.info + ",正在跳转中...");
							hrefTo(data.url, 1000)
						}
					}
				});
			});
		</script>
	</div>
</div>

</body>
</html>