<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<include file="Public:basicHead" />

		<script type="text/javascript">
			
			$(function() {
				$(".leftmenu").height($(window).height() - 40);
				//导航切换
				$(".menuson .header").click(function() {
					var $parent = $(this).parent();
					$(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();
					$parent.addClass("active");
					if (!!$(this).next('.sub-menus').size()) {
						if ($parent.hasClass("open")) {
							$parent.removeClass("open").find('.sub-menus').hide();
						} else {
							$parent.addClass("open").find('.sub-menus').show();
						}
					}
				});
				// 三级菜单点击
//				$('.sub-menus li').click(function(e) {
//					$(".sub-menus li.active1").removeClass("active1");
//					$(this).addClass("active1");					
//					
//				});
				$(".menuson li").click(function(e) {
					//$(".menuson li").find('.sub-menus').hide();
					$(".menuson li").removeClass("active");
					$(this).addClass("active");					
					
				});
				
				$('.title').click(function() {
					var $ul = $(this).next('ul');
					$('dd').find('.menuson').slideUp();
					if ($ul.is(':visible')) {
						$(this).next('.menuson').slideUp();
					} else {
						$(this).next('.menuson').slideDown();
					}
				});
			})
		</script>

	</head>

	<body style="background:#f0f9fd;">
		<div class="lefttop"><span></span>功能菜单</div>

		<dl class="leftmenu">

			